[submodule "third_party/brotli"]
	path = third_party/brotli
	url = https://github.com/google/brotli
[submodule "third_party/lcms"]
	path = third_party/lcms
	url = https://github.com/mm2/Little-CMS
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/sjpeg"]
	path = third_party/sjpeg
	url = https://github.com/webmproject/sjpeg.git
[submodule "third_party/skcms"]
	path = third_party/skcms
	url = https://skia.googlesource.com/skcms
[submodule "third_party/highway"]
	path = third_party/highway
	url = https://github.com/google/highway
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/testdata"]
	path = testdata
	url = https://github.com/libjxl/testdata
[submodule "third_party/libjpeg-turbo"]
	path = third_party/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
